In [1]:
#Funtions

In [3]:
#Python built-in funtions - 파이썬에는 이미 만들어진 함수의 형태가 존재한다. 
"""
max() - 최댓값을 리턴해주는 함수 list에서 사용할 수 있음
min() - 최솟값을 리턴해주는 함수 
round() - ex) round(1.23456,2) -> 1.23456의 소수 이하 2자리까지만 리턴해준다. ->1.23 return
help() - 괄호안에 정의된 함수 이름을 적으면 그 함수에 대한 설명을 알려준다. 
len()
type()
"""

'\nmax()\nlen()\ntype()\n'

In [4]:
#some build in funtions

In [5]:
a = [123,22,34,5555]
max(a)

5555

In [6]:
min(a)

22

In [7]:
round(1.23456,2)

1.23

In [9]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [11]:
a = [1,4,7,10]
b = [2,3,9,11]
c = a+b
ascending = sorted(c) # 오름차순 
# print(c) - sorted()는 list의 내용이 바뀌지않는다. 
descending = sorted(c,reverse = True) # 내림차순 reverse = True 
print('ascending', ascending)
print('descending',descending)

[1, 4, 7, 10, 2, 3, 9, 11]
ascending [1, 2, 3, 4, 7, 9, 10, 11]
descending [11, 10, 9, 7, 4, 3, 2, 1]

In [12]:
#methods

In [13]:
#Each object(list,str,dictionary,...)는 각자 method를 가지고 있다.

In [14]:
#List methods

In [19]:
names = ['jim','jones','tom',10,20,10,10]
names.index('tom') #list.index(원소) = 그 원소의 index값을 리턴해준다.

2

In [21]:
print(names.count(10)) #list.count(원소) = 그 원소가 list에 몇 번 나왔는지 그 횟수의 값을 리턴해준다

3

In [23]:
names.append('new') #list.append(원소) = 원소가 list의 맨 뒤에 추가된다 (즉, names의 값을 바꿔주는 것이다.)
print(names)

['jim', 'jones', 'tom', 10, 20, 10, 10, 'new', 'new']

In [24]:
# str methods

In [41]:
name = 'liz'
#name.capitalize() - str의 첫 문자를 대문자로 바꾼 string값을 리턴해준다. -> 'Liz' 
#print(name) - 하지만, 원래 str의 값이 바뀌는 것은 아니다. 

print(name.capitalize()) #str.capitalize() = str의 첫 문자를 대문자로 바꿔준다

Liz

In [44]:
print(name.upper()) #str.upper() = str의 모든 문자를 대문자로 바꿔준다. 
#print(name) - 원래 str의 값을 바꾸지는 않는다.

LIZ

In [47]:
name.replace('z','zzzz') #str.replace('문자1','문자2') = 문자1이 문자2로 바뀐다.

'lizzzz'

In [53]:
name #string은 immutable하기 때문에 함수를 사용했다고 해서 원래 name의 값이 바뀌지는 않는다. 
     #반면, list는 mutuble하기 때문에 append하면 원래 값이 바뀜

'liz'

In [51]:
#내가 만든 예시

In [52]:
a = 'ollo'
a.replace('o','e')

'elle'

In [54]:
#Funtions

In [55]:
"""
Don't repeat yourself
Write one time, use many times
parameters
 => def funtion_name():
        #code block
"""

"\nDon't repeat yourself\nWrite one time, use many times\nparameters\n => def funtion_name():\n        #code block\n"

In [56]:
def say_hi():
    print("Hi!")

In [57]:
say_hi()

Hi!

In [62]:
def say_hi(name): #name은 argument값
    print("Hi {}!".format(name))

In [59]:
say_hi("john")

Hi john!

In [63]:
say_hi()
#이렇게 argument값을 넣어주지 않으면 error발생

TypeError: say_hi() missing 1 required positional argument: 'name'

In [60]:
def say_hi(name = 'there'):
    print("Hi {}!".format(name))

In [61]:
say_hi() #name = 'there'이라는 값을 넣어줬기 때문에 argument값이 없을 경우 there가 그 자리에 들어가게 된다. 
         #위에서 발생했던 에러를 이런 방식으로 해결할 수 있다.

Hi there!

In [64]:
say_hi("Tom")

Hi Tom!

In [ ]:
"""
종종 매개변수(parameter)와 전달인자(argument)는 적당히 섞어서 쓰이기도 하는데, 
이 경우 문맥에 따라 의미를 달리해서 해석되기도 한다. 
하지만 엄밀히 말해서 매개변수는 함수의 정의부분에 나열되어 있는 변수들을 의미하며, 
전달인자는 함수를 호출할때 전달되는 실제 값을 의미한다.
이같은 의미를 명확히 하기 위해 매개변수는 변수(variable)로, 전달인자는 값(value)으로 보는 것이 일반적이다.
"""

In [65]:
#multiple parameters

In [66]:
def say_hi(first,last):
    print("Hi {} {}!".format(first,last))

In [67]:
say_hi("Gil-Dong","Hong")

Hi Gil-Dong Hong!

In [68]:
#Function examples

In [70]:
print(10 % 2)
print(11 % 2)
print(10 % 2 == 0)
print(11 % 2 == 0)

0
1
True
False

In [71]:
# an examples

In [74]:
def odd_or_even(number):
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"

In [75]:
odd_or_even(7)

'Odd'

In [76]:
def is_odd(number):
    if number % 2 == 0:
        return False
    else:
        return True

In [79]:
print(is_odd(7))
print(is_odd(8))

True
False

In [80]:
#another example

In [93]:
def get_name():
    name = input('What is your name?') #scanf같은 역할 
    return name #입력받은 name값을 리턴해준다.

In [94]:
get_name()

What is your name?Park

'Park'

In [95]:
def say_name(name):
    print('Your name is {}'.format(name))
def get_and_say_name():
    name = get_name()
    say_name(name)

In [96]:
get_and_say_name()

What is your name?Park
Your name is Park

In [97]:
#Tuples

In [98]:
"""
List와 비슷하지만 immutable하다 -> 내용을 수정할 수 없음
my_tup = (1,2,3) -> ()를 사용한다. 
"""

'\nList와 비슷하지만 immutable하다 -> 내용을 수정할 수 없음\nmy_tup = (1,2,3) -> ()를 사용한다. \n'

In [99]:
my_tuple = (1,2,"test")

In [101]:
my_tuple[0:] #list처럼 index를 사용할 수 있다.

(1, 2, 'test')

In [102]:
#Immutable

In [105]:
my_tuple[1] = 10 #tuple은 immutable하기 때문에 값을 수정할 수 없다.

TypeError: 'tuple' object does not support item assignment

In [106]:
#하나의 원소만 가지는 tuple은 ,를 가져야 한다.

In [107]:
my_tuple = (10) #하나의 원소만 가지는 Tuple인데 ,를 써주지 않았다 -> 출력값이 tuple이 아니라 Int로 출력된다. 
print(my_tuple)
print(type(my_tuple))

10
<class 'int'>

In [109]:
my_tuple = (10,)
print(my_tuple)
print(type(my_tuple)) #,를 넣어주니 tuple로 출력된다.

(10,)
<class 'tuple'>

In [113]:
my_tuple = (11,22,33)
print(my_tuple[0])
print(my_tuple[-1])
print(my_tuple[0:1]) # 0에서 0까지 즉, (11,)이다.

11
33
(11,)

In [114]:
#Tuple Concatenation

In [118]:
my_tuple = (11,22,33)
saved = my_tuple
my_tuple += (44,) #append
#tuple은 immutable하다 -> 위에 선언된 saved는 새로운 tuple이다. 
print(my_tuple)
print(saved)

(11, 22, 33, 44)
(11, 22, 33)

In [121]:
my_tuple = (11,22,33)
saved = my_tuple
my_tuple += (44) #이렇게 선언하게 되면 ,가 없기 때문에 tuple이 아니라 Int로 인식한다. int와 tuple은 합칠 수 없다. 
print(my_tuple)

TypeError: can only concatenate tuple (not "int") to tuple

In [122]:
#Sorting tuples

In [123]:
#tuple are immutable

In [125]:
atuple = (33,22,11)
atuple.sort() #sort함수는 원래 값을 변경해버린다. 그런데, tuple은 immutable하기 때문에 에러가 발생한다.

AttributeError: 'tuple' object has no attribute 'sort'

In [129]:
print(type(atuple))
print(atuple)
atuple = sorted(atuple) #sorted는 List를 리턴한다. 원래 atuple은 다른 곳에 저장된다. 
print(type(atuple)) 
print(atuple) #?? 약간 의문이 드는 부분이 있긴 하다

<class 'list'>
[11, 22, 33]
<class 'list'>
[11, 22, 33]

In [132]:
[i for i in atuple]

[11, 22, 33]

In [133]:
#Converting sequences into tuples -> tuple형식으로 변환하기 tuple()함수 사용하면 된다.

In [134]:
alist = [10,20,30]
atuple = tuple(alist)
print(atuple)

(10, 20, 30)

In [135]:
newtuple = tuple("Hello World")
print(newtuple)

('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd')

In [136]:
#Iterations - iterator은 반복 가능한 객체를 의미한다. 즉, 반복문을 활용해서 데이터를 순회하면서 처리하는 것 
# -> list, dictionary, set, tuple, str등이 있다.

In [137]:
#Most data structures can be iterated over in the same way

In [138]:
#list

In [139]:
my_list = [1,"a",[1,2,3],{"park":10},{10,20,30}]

In [140]:
for item in my_list:
    print(item)

1
a
[1, 2, 3]
{'park': 10}
{10, 20, 30}

In [141]:
#tuple

In [143]:
my_tuple = (1,"a",[1,2,3],{"park":10},{10,20,30})

In [144]:
for item in my_tuple:
    print(item)

1
a
[1, 2, 3]
{'park': 10}
{10, 20, 30}

In [145]:
#dictionary

In [146]:
my_dict = {'a': 10,'b':[1,2,3]}

In [147]:
for a,b in my_dict.items():
    print(a,b)

a 10
b [1, 2, 3]

In [148]:
#More iterations

In [149]:
#iterations

In [150]:
for i in range(4): #range(4) = 0~3
    print(i)

0
1
2
3

In [152]:
for i in range(1,10,3):# 1~9에서 3씩 증가한 값 => 1,4,7
    print(i)

1
4
7

In [154]:
mylist = ['a','b','c']
for i in mylist:
    print(i)

a
b
c

In [156]:
for i in range(len(mylist)): #len(mylist) = 3 ->range(3) = 0~2
    print(i,mylist[i]) #i = index값 mylist[i] = index값에 해당하는 원소값

0 a
1 b
2 c

In [157]:
for i,item in enumerate(mylist): #enumerate() => list의 index,element출력하는 함수 
    print(i,item)

0 a
1 b
2 c

In [158]:
#list comprehension

In [159]:
"""
[expression for element in list]
 
-> Applies the expression to each element in the list (expression 수행 후 list에 그 값들을 첨부한다)
-> You can have 0 or more for or if statements (뒤에 condition을 넣을 수 있다.)
-> If the expression evaluates to a tuple it must be in parenthesis
"""

'\n[expression for element in list]\n \n-> Applies the expression to each element in the list (expression 수행 후 list에 그 값들을 첨부한다)\n-> You can have 0 or more for or if statements (뒤에 condition을 넣을 수 있다. )\n-> If the expression evaluates to a tuple it must be in parenthesis\n'

In [160]:
# Input : nums = [1,2,3,4,5]
# Goal : sq_nums = [1,4,9,16,25]

In [161]:
#simple method

In [162]:
nums = [1,2,3,4,5]
sq_nums = []
for n in nums:
    sq_nums.append(n**2)
print(sq_nums)

[1, 4, 9, 16, 25]

In [163]:
#list comprehension

In [164]:
"""
[]는 우리가 list를 만든다는 것을 의미한다. 
for n in nums에서 하나씩 element를 가지고 와서 각각에 대해서 n**2를 수행한다. 
"""

'\n[]는 우리가 list를 만든다는 것을 의미한다. \nfor n in nums에서 하나씩 element를 가지고 와서 각각에 대해서 n**2를 수행한다. \n'

In [166]:
sq_nums = [n**2 for n in nums] #n**2 (expression)
print(sq_nums)

[1, 4, 9, 16, 25]

In [167]:
#list comprehension examples

In [168]:
vec = [2,4,6]
[3*x for x in vec]

[6, 12, 18]

In [171]:
[3*x for x in vec if x > 3] #vec중에 3보다 큰 값들만 3*x를 수행해서 list에 넣어준다
                            #condition -> x에 대한 filter function

[12, 18]

In [172]:
[3*x for x in vec if x < 2]

[]

In [173]:
[[x,x**2] for x in vec] #[x,x**2] = x에 대한 2개의 연산

[[2, 4], [4, 16], [6, 36]]

In [175]:
#error!
[x,x**2 for x in vec] #error 발생 이유 = 결과는 항상 하나여야 한다.

SyntaxError: invalid syntax (<ipython-input-175-4807ffcec491>, line 2)

In [179]:
email = ['once','upon','a','time','in','a','far','away']
a = [1 for x in email if x == 'a'] #x == 'a'가 성립하면 1을 넣어준다. 
print(a)
print(len(a)) #email에 'a'가 몇 번 나왔는지 알 수 있다.

[1, 1]
2

In [181]:
#More list comprehension
"""
Template : new_list = [f(x) for x in iterable]
                                        -> iterable = list,dictionary, tuple모두 가능, range function도 가능하다. 
"""

'\nTemplate : new_list = [f(x) for x in iterable]\n                                        -> iterable = list,dictionary, tuple모두 가능, range function도 가능하다. \n'

In [183]:
words = ['hello','this','is','python']
caps = [word.upper() for word in words] #function = word.upper() -> word하나당 함수가 계속 작동하는 것이므로 words.upper()아님
print(caps)

['HELLO', 'THIS', 'IS', 'PYTHON']

In [184]:
powers = [(x**2, x**3) for x in range(5)] #0~4
print(powers)

[(0, 0), (1, 1), (4, 8), (9, 27), (16, 64)]

In [185]:
#function과 list comprehension 같이 사용

In [186]:
#putting functions and list comprehensions together

In [188]:
def isEven(num):
    return (num % 2 == 0) #return값이 True나 False로 나온다
numbers = [2,10,7,300,63]
isEvens = [isEven(num) for num in numbers] #isEven(num) = function
print(isEvens)

[True, True, False, True, False]

In [189]:
#more list comprehension

In [192]:
nuc = ['A','T']
codons = {x+y+z for x in nuc for y in nuc for z in nuc} #x,y,z는 모두 A or T 이 두가지 경우가 나올 수 있다.
                                                        #2*2*2 = 8 총 8가지 경우의 수 
print(codons)

{'TTA', 'ATT', 'AAA', 'TAA', 'AAT', 'TTT', 'ATA', 'TAT'}

In [193]:
nuc = ['A','T','C','G']
codons = {x+y+z for x in nuc for y in nuc for z in nuc} #4*4*4 = 64가지
print(codons)
print(len(codons))

{'ACG', 'TTG', 'ATT', 'AGT', 'TAG', 'CAC', 'GGT', 'AAG', 'GAG', 'CCC', 'ATA', 'TAT', 'CAG', 'CTG', 'GTT', 'TTC', 'TCT', 'TCA', 'CAA', 'CGT', 'GTC', 'GGC', 'CCG', 'GGG', 'TGA', 'TCC', 'TAA', 'CTA', 'GTG', 'AAT', 'TTT', 'CAT', 'AGC', 'AGA', 'TTA', 'TGG', 'TGC', 'CTT', 'AGG', 'GCG', 'GAC', 'TCG', 'CCT', 'CGG', 'GAA', 'GAT', 'ACA', 'CCA', 'CGC', 'ACC', 'GGA', 'GCA', 'GCT', 'AAA', 'GCC', 'CTC', 'ATC', 'ATG', 'TAC', 'TGT', 'ACT', 'CGA', 'GTA', 'AAC'}
64

In [194]:
#turning a dict inside out

In [196]:
myDict = {'a':10,'b':20,'c':30,'d':40}
reverserDict = {value : key for key,value in myDict.items()} #myDict.items는 key와 value 리턴
print(reverserDict)

{10: 'a', 20: 'b', 30: 'c', 40: 'd'}

In [197]:
myDict = {'a':10,'b':20,'c':10,'d':40} #dictionary의 Key값은 unique해야 함 -> 나중에 나온 값이 저장된다. 
reverserDict = {value : key for key,value in myDict.items()} 
print(reverserDict)

{10: 'c', 20: 'b', 40: 'd'}