In [1]:
#Variable

In [2]:
#Case sensitive

In [3]:
#Variable

In [4]:
height = 100
weight = 10
print(height)
print(weight/height)
print(weight/height**2)

100
0.1
0.001

In [5]:
print(height/weight**2)
print(height/(weight**2))
print((height/weight)**2)

1.0
1.0
100.0

In [6]:
# ?? - 거듭제곱은 항상 먼저 실행되는 건가?!?
# 출력값을 보면 그게 맞는 거 같음 
# 연산자 우선순위를 찾아보니 **가 *나 /보다 더 우위에 있다.

In [7]:
#Types - type(변수) = 그 변수의 type을 알려준다. 
# python은 c와 다르게 변수 중에 string도 존재한다. 즉, 그냥 문자열을 입력해줄 수 있음

In [8]:
height = 3.5

In [9]:
type(height)

float

In [10]:
a = 5
b = True
c = 'this is a string'
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'bool'>
<class 'str'>

In [11]:
#Use of +
# + 기호를 사용해서 상수형이나 문자열을 합칠 수 있다.

In [12]:
d = 2+3
e = "I am " + "a boy" + "."
f = "My name is " + "Haechan Lee."
print(d)
print(e)
print(f)

5
I am a boy.
My name is Haechan Lee.

In [13]:
#Type Conversion

In [14]:
number_of_courses = 5
print("I am taking " + number_of_courses + " this semester ")

TypeError: can only concatenate str (not "int") to str

In [15]:
# int와 string을 그냥 더해줄 수 없음 -> type conversion이 필요하다.

In [16]:
print("I am taking " + str(number_of_courses)+ " this semester")

I am taking 5 this semester

In [17]:
#str(변수) = 변수를 string형으로 변환해준다.

In [18]:
a = "3.4567" # a는 string형
b = float(a) # b는 a를 float형으로 변환해준거 
print(a)
print(b)
print(type(a))
print(type(b))

3.4567
3.4567
<class 'str'>
<class 'float'>

In [19]:
#Python data types

In [20]:
"""
float = real numbers
int = integer numbers
str = string, text
bool = True,False
Python List = [a,b,c]
 -> collection of variables ( 변수의 집합 )
 -> contain any type (어떤 타입이든지 들어갈 수 있음)
 -> contain different types (여러 타입이 섞여들어 갈 수 있음)
"""

'\nfloat = real numbers\nint = integer numbers\nstr = string, text\nbool = True,False\nPython List = [a,b,c]\n -> collection of variables ( 변수의 집합 )\n -> contain any type (어떤 타입이든지 들어갈 수 있음)\n -> contain different types (여러 타입이 섞여들어 갈 수 있음)\n'

In [21]:
a = [1,2,3,4]
b = [1, 2.3, True, "this is a test"]
c = a + b
d = [1,2,[1,2,3],[1,2,"test"]]
e = [1+2,"baby "*3,4]

In [22]:
print(a)
print(b) # 출력하면 "(큰 따옴표)가 '(작은 따옴표)로 변환되어 출력된다.
print(c) # list간의 덧셈은 두 List가 합쳐진다. 새로운 c라는 list를 생성한 것 
print(d) # list안에 요소로 list가 들어갈 수 있음 
print(e) # list안에서 계산도 이루어질 수 있다. string도 곱셈으로 횟수를 늘릴 수 있다.

[1, 2, 3, 4]
[1, 2.3, True, 'this is a test']
[1, 2, 3, 4, 1, 2.3, True, 'this is a test']
[1, 2, [1, 2, 3], [1, 2, 'test']]
[3, 'baby baby baby ', 4]

In [23]:
print(type(a)) #[, ,..]의 타입은 list
print(len(a)) # list a의 요소의 갯수 즉 list의 길이

<class 'list'>
4

In [24]:
#Subset of lists

In [25]:
#Zero based indexing -> list의 원소는 0번부터 시작한다.

In [26]:
test = [100, "jane", 40, "tim", 1000, "john and liz"]
print(test[0])
print(test[4])
print(test[5])
print(test[-1]) 
print(test[-2])

100
1000
john and liz
john and liz
1000

In [27]:
# - indexing = 맨 마지막이 -1로 역순으로 숫자를 센다.

In [28]:
# list slicing

In [29]:
"""
-> :를 이용한다. 
-> list[index1 : index2 ]
   => index1부터 index2 -1까지  (즉, index1 <=   < index2)
   => ex) test[2:4] = test list의 2번째부터 (4-1)번째까지
-> list[:index] - 처음부터 index-1 까지
-> list[index:] - index부터 마지막까지
"""

'\n-> :를 이용한다. \n-> list[index1 : index2 ]\n   => index1부터 index2 -1까지  (즉, index1 <=   < index2)\n   => ex) test[2:4] = test list의 2번째부터 (4-1)번째까지\n-> list[:index] - 처음부터 index-1 까지\n-> list[index:] - index부터 마지막까지\n'

In [30]:
test = [100, "jane", 40, "tim", 1000, "john and liz"]
test[2:4]

[40, 'tim']

In [31]:
#use a single index

In [32]:
print(test[:4]) #0부터 3까지

[100, 'jane', 40, 'tim']

In [33]:
print(test[2:]) #2부터 마지막까지

[40, 'tim', 1000, 'john and liz']

In [34]:
print(test[:]) # 처음부터 마지막까지 (모든 내용)

[100, 'jane', 40, 'tim', 1000, 'john and liz']

In [35]:
#list of lists

In [36]:
test = [ ['tom', 10,20,40],['jane',50,60,70],['john',80,90,100]]

In [37]:
print(test[1][1]) #전체 list 중에 1번째 요소의 1번째

50

In [38]:
print(test[-1][-1])

100

In [39]:
print(test[-1][1:3])

[80, 90]

In [40]:
print(test[1][:]) # == test[1]

['jane', 50, 60, 70]

In [41]:
print(test[1])

['jane', 50, 60, 70]

In [42]:
#Mutable List

In [43]:
""" 
mutable = 내용을 변화할 수 있다 => list의 요소를 변화할 수 있다. (더하거나 삭제 가능)
-> change list elements : list[0] = 100 -> list의 0번째 원소값을 100으로 바꿔라
-> add list elements : c = a+b -> a와 b의 원소를 합쳐서 c라는 새로운 list를 생성해라 
-> remove list elements : del(list[0]) -> list의 0번째 원소를 삭제해라 
"""

' \nmutable = 내용을 변화할 수 있다 => list의 요소를 변화할 수 있다. (더하거나 삭제 가능)\n-> change list elements : list[0] = 100 -> list의 0번째 원소값을 100으로 바꿔라\n-> add list elements : c = a+b -> a와 b의 원소를 합쳐서 c라는 새로운 list를 생성해라 \n-> remove list elements : del(list[0]) -> list의 0번째 원소를 삭제해라 \n'

In [44]:
a = [1,2,3,'tom','jane','kim']
print(a)

[1, 2, 3, 'tom', 'jane', 'kim']

In [45]:
a[-1] = 100 # a[-1]의 값을 100으로 바꾼다
print(a)

[1, 2, 3, 'tom', 'jane', 100]

In [46]:
a[2] = [1,2,3]
print(a)

[1, 2, [1, 2, 3], 'tom', 'jane', 100]

In [47]:
#adding and removing

In [48]:
print("a : ",a)
b = [10000,20000]
c = a+b
print("c : ",c)

a :  [1, 2, [1, 2, 3], 'tom', 'jane', 100]
c :  [1, 2, [1, 2, 3], 'tom', 'jane', 100, 10000, 20000]

In [49]:
print(c[3])

tom

In [50]:
print(c)
del(c[3]) #del을 이용해서 원소를 삭제할 수 있다. 
print(c)

[1, 2, [1, 2, 3], 'tom', 'jane', 100, 10000, 20000]
[1, 2, [1, 2, 3], 'jane', 100, 10000, 20000]

In [51]:
#replacing list elements

In [52]:
x = ["a","b",'c','d',1,2,3]
print(x)

['a', 'b', 'c', 'd', 1, 2, 3]

In [53]:
x[1] = 100
x[2:] = [10,20,30] # x list의 2부터 끝까지를 10,20,30으로 바꾼다. 
print(x)

['a', 100, 10, 20, 30]

In [54]:
x[2:] = ["abc",'def','hij']
print(x)

['a', 100, 'abc', 'def', 'hij']

In [55]:
x[3:] = 'this is a test' # string이 list안으로 들어가면 한 문자씩 잘려서 들어간다. 
                        #왜냐면 list도 넣을 때 보면 [10,20,30]이렇게 넣어줬을 때 
                        #list안에는 [10,20,30]이 아니라 10,20,30으로 들어간 걸 보면 알 수 있음 
print(x)

['a', 100, 'abc', 't', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 't', 'e', 's', 't']

In [56]:
#Copying lists

In [57]:
#Use sign to copy lists

In [58]:
x = ["a",'b',"c"]
print(x)

['a', 'b', 'c']

In [59]:
y = x # ['a','b','c']라는 List를 전에는 x만 포인트하고 있었는데 이제 y도 그 List를 포인트한다. ppt 11쪽 그림 참고
print(y)

['a', 'b', 'c']

In [60]:
y[1] = "new" # x도 같은 것을 가리키고 있었기 때문에 y list의 요소 값이 바뀌면 x의 값도 함께 변한 것처럼 이해하면 된다. 
print("y : ",y)
print("x : ",x)

y :  ['a', 'new', 'c']
x :  ['a', 'new', 'c']

In [61]:
#Use list to copy

In [62]:
x = ["a",'b',"c"]
print(x)

['a', 'b', 'c']

In [63]:
y = list(x) #x와 똑같은 list를 새로 생성한다. 즉, x와 y는 다른 list가 되는 것
print(y)

['a', 'b', 'c']

In [64]:
y[1] = "new"
print("y : ",y)
print("x : ",x) # 값이 바뀌지 않는다. 다른 list이기 때문이다. ppt 12쪽 그림 참고

y :  ['a', 'new', 'c']
x :  ['a', 'b', 'c']

In [65]:
#Looping through a list

In [66]:
"""
-> indentation (반드시 tab을 사용해서 띄어쓰기를 해줘야한다.)
-> for item-variabele in list :
        #code 
    => 이러한 꼴로 만들어진다. 
"""

'\n-> indentation (반드시 tab을 사용해서 띄어쓰기를 해줘야한다.)\n-> for item-variabele in list :\n        #code \n    => 이러한 꼴로 만들어진다. \n'

In [67]:
animals = ['cat','dog','bear','elephant']
for a in animals:
    print(a)
for b in animals:
    print(b.upper())  #item-variable.upper()은 모든 값을 대문자로 바꿔주는 것

cat
dog
bear
elephant
CAT
DOG
BEAR
ELEPHANT

In [68]:
#While loop

In [69]:
"""
-> while condition:
        #code
    => 이러한 꼴로 만들어진다. 
"""

'\n-> while condition:\n        #code\n    => 이러한 꼴로 만들어진다. \n'

In [70]:
animals = ['cat','dog','bear','elephant']

In [71]:
print(len(animals))

4

In [72]:
index = 0
while index < len(animals):
    print(animals[index])
    index += 1            #index 0~3까지 돌면서 출력한다.

cat
dog
bear
elephant

In [73]:
#Sorting a list and append an element

In [74]:
# list sorting
# sorted() -> function  => list의 내용이 바뀌지 않는다. list의 내용을 sort해서 sorted변수 값에 들어간다. 
# sort() -> method

In [75]:
print(animals)

['cat', 'dog', 'bear', 'elephant']

In [76]:
#sorted a list

In [77]:
sorted_animals = sorted(animals)
print("animals : {}".format(animals))
print("sorted animals : {}".format(sorted_animals))

animals : ['cat', 'dog', 'bear', 'elephant']
sorted animals : ['bear', 'cat', 'dog', 'elephant']

In [78]:
#sort a list

In [79]:
animals.sort() #list의 내용 자체를 sort하는 것
print("animals : {}".format(animals))

animals : ['bear', 'cat', 'dog', 'elephant']

In [80]:
#append an element

In [81]:
print(animals)

['bear', 'cat', 'dog', 'elephant']

In [82]:
animals.append("pig") # append 는 추가하는 메소드이다. list의 맨 뒤에 추가된다. 
print(animals)

['bear', 'cat', 'dog', 'elephant', 'pig']

In [83]:
#ranges

In [84]:
#range(index) : 0 ~ (index-1)

In [85]:
for number in range(5):  # 0~4
    print(number)

0
1
2
3
4

In [86]:
for a in range(2,5): # 2 ~ (5-1)
    print(a)

2
3
4

In [87]:
for b in range(1,7,2): #1~(7-1)끼지 2씩 증가 -> 1,3,5
    print(b)

1
3
5

In [88]:
print(animals)

['bear', 'cat', 'dog', 'elephant', 'pig']

In [89]:
for number in range(0,len(animals),2): # 0~(5-1) 2씩 증가 
    print(animals[number])

bear
dog
pig

In [90]:
#Dictionary = {}

In [91]:
"""
-> key와 value로 표현되는 데이터 구조
-> Mutable

=> create an empty dictionary
=> create a dictionary

"""

'\n-> key와 value로 표현되는 데이터 구조\n-> Mutable\n\n=> create an empty dictionary\n=> create a dictionary\n\n'

In [92]:
#create an empty dictionary

In [93]:
dict1 = {}
print(type(dict1))

<class 'dict'>

In [94]:
#create a dictionary

In [95]:
contacts = {'kim' : '111-2222','park':'222-3333'} # : 기호는 key값과 value값을 구분해준다. 
print(contacts)

{'kim': '111-2222', 'park': '222-3333'}

In [96]:
park_contacts = contacts['park'] #key값을 입력하면 valuer값이 나온다. 이때 value값은 따옴표가 출력되지 않는다. 
print("Dial {} to call park".format(park_contacts))

Dial 222-3333 to call park

In [97]:
#update values

In [98]:
print(contacts)
contacts['park'] = '000-0000' # 새로운 value값으로 변경 -> dictionary는 mutable하기 때문에 값을 변경시켜줄 수 있음
print(contacts)

{'kim': '111-2222', 'park': '222-3333'}
{'kim': '111-2222', 'park': '000-0000'}

In [99]:
#add dictionary items

In [100]:
print(contacts)
contacts['choi'] = '111-222' #dictionary에 없는 값을 넣어주면 새로 추가된다. 
print(contacts)

{'kim': '111-2222', 'park': '000-0000'}
{'kim': '111-2222', 'park': '000-0000', 'choi': '111-222'}

In [101]:
print(len(contacts))

3

In [102]:
#Delete a dictionary elements

In [103]:
"""
-> list와 마찬가지로 del
=> del(list[index])
=> del(dictionary[key])
"""

'\n-> list와 마찬가지로 del\n=> del(list[index])\n=> del(dictionary[key])\n'

In [104]:
test = [10,20,30,40,50,60]
print(test)
del(test[2])
print(test)

[10, 20, 30, 40, 50, 60]
[10, 20, 40, 50, 60]

In [105]:
del(test[2:])
print(test)

[10, 20]

In [106]:
print(contacts)

{'kim': '111-2222', 'park': '000-0000', 'choi': '111-222'}

In [107]:
del(contacts['choi'])
print(contacts)

{'kim': '111-2222', 'park': '000-0000'}

In [108]:
#Unique keys

In [109]:
print(contacts)
contacts['park'] = '111-2222'
print(contacts)

contacts1 = {'park' : '111-2222','park':'222-3333','choi':'333-4444'}
# dictionary는 unique한 key값을 가진다. 따라서 같은 값이 들어가면 뒤에 있는 값만 남게 된다. 
print(contacts1)

{'kim': '111-2222', 'park': '000-0000'}
{'kim': '111-2222', 'park': '111-2222'}
{'park': '222-3333', 'choi': '333-4444'}

In [110]:
a = [1,2,3,3,3,3,4]
print(a) #list는 그런 것 없음

[1, 2, 3, 3, 3, 3, 4]

In [111]:
#Returning a value and get() function

In [112]:
print(contacts.get('park')) #get()는 value값을 리턴해준다
print(contacts['park'])

111-2222
111-2222

In [113]:
#Useful of get

In [114]:
person = {'name' : 'Phill', 'age': 22}

print('Name: ',person.get('name'))
# print('Name:  {}'.format(person['name']))와 같은 값을 출력한다
print('Age: ',person.get('age'))

print('Salary: ',person.get('salary')) #dictionary에 값이 없기 때문에 None 리턴해준다. 
# print('Salary: {}'.format(person['salary'])) -> get을 사용하지 않고 호출하면 key값이 없기 때문에 error가 발생한다. 
print('Salary: ',person.get('salary',10.0))  # default값을 설정해줄 수 있다. 해당하는 값이 없으면 none대신 10.0을 리턴해준다

Name:  Phill
Age:  22
Salary:  None
Salary:  10.0

In [115]:
#Print dictionary elements

In [116]:
contacts['park'] = '000-0000'

In [117]:
contacts['lee'] = ['222-3333','333-4444']
print(contacts)

{'kim': '111-2222', 'park': '000-0000', 'lee': ['222-3333', '333-4444']}

In [118]:
for number in contacts['lee']: # contacts['lee'] = ['222-3333','333-4444']
    print('Phone number : {}'.format(number))

Phone number : 222-3333
Phone number : 333-4444

In [119]:
print(contacts.keys)

<built-in method keys of dict object at 0x10a4f54b0>

In [120]:
print(contacts.keys()) #key값 모두 출력 dictionary.keys()

dict_keys(['kim', 'park', 'lee'])

In [121]:
print(contacts.values)

<built-in method values of dict object at 0x10a4f54b0>

In [122]:
print(contacts.values()) #value값 모두 출력 dictionary.values()

dict_values(['111-2222', '000-0000', ['222-3333', '333-4444']])

In [123]:
print(contacts.items()) #key와 value값 모두 짝꿍 지어서 출력해준다.

dict_items([('kim', '111-2222'), ('park', '000-0000'), ('lee', ['222-3333', '333-4444'])])

In [124]:
name = 'park'
if name in contacts.keys(): #contacts.keys() -> 모든 키가 담겨있는 list => 여기에 해당하는 값이 있는지 검사
    print(contacts[name])

000-0000

In [125]:
name = 'lee'
if name in contacts.keys():
    print(contacts[name])

['222-3333', '333-4444']

In [126]:
# dictionary.items()는 key value pair return -> key와 value가 짝지어서 출력된다는 이야기

In [127]:
print(contacts)
print(contacts.items())

{'kim': '111-2222', 'park': '000-0000', 'lee': ['222-3333', '333-4444']}
dict_items([('kim', '111-2222'), ('park', '000-0000'), ('lee', ['222-3333', '333-4444'])])

In [128]:
for a,b in contacts.items():
    print("key is {} and value is {}".format(a,b))

key is kim and value is 111-2222
key is park and value is 000-0000
key is lee and value is ['222-3333', '333-4444']

In [129]:
for a,b in contacts.items():
    print('value is {1} and key is {0}'.format(a,b)) # a는 0, b는 1을 의미하는 것 같다.

value is 111-2222 and key is kim
value is 000-0000 and key is park
value is ['222-3333', '333-4444'] and key is lee

In [130]:
#dictionary contains a dictionary -> 딕셔너리 안에 딕셔너리

In [131]:
contacts2 = {'park' : {'cell' : '111-2222','email': 'park@ssu.ac.kr'},
            'lee':{'cell' : '222-3333','email': 'lee@ssu.ac.kr'}}

In [132]:
print(contacts2)

{'park': {'cell': '111-2222', 'email': 'park@ssu.ac.kr'}, 'lee': {'cell': '222-3333', 'email': 'lee@ssu.ac.kr'}}

In [133]:
for contact in contacts:
    print(contact)  # key값 리턴

kim
park
lee

In [134]:
for a in contacts2.keys():
    print(a) # 이것도 맞는거인듯...?

park
lee

In [138]:
for contact in contacts2:
    print("{}'s contact information".format(contact))
    print("  ",contacts2[contact]['cell'])
    print("  ",contacts2[contact]['email'])

park's contact information
   111-2222
   park@ssu.ac.kr
lee's contact information
   222-3333
   lee@ssu.ac.kr

In [139]:
#print dictionary items

In [143]:
print(contacts)
# print(contacts.keys())
print('lee' in contacts.keys()) #contacts.keys()는 ['kim','park','lee']모습의 list를 리턴한다. 
print('jaje' in contacts.keys())

{'kim': '111-2222', 'park': '000-0000', 'lee': ['222-3333', '333-4444']}
True
False

In [146]:
# print(contacts.values())
print('111-2222' in contacts.values())
print('222-3333' in contacts.values())

True
False

In [147]:
#remove items

In [162]:
a = {'Alice': 20, 'Carol': 30, 'Bob':34}
print(a)

{'Alice': 20, 'Carol': 30, 'Bob': 34}

In [163]:
a.pop('Carol') # pop은 value값을 리턴한다 -> 특정 element를 삭제한다.

30

In [164]:
print(a)

{'Alice': 20, 'Bob': 34}

In [165]:
a.pop('Alice')

20

In [166]:
a

{'Bob': 34}

In [167]:
#remove random item
a = {'Alice': 20, 'Carol': 30, 'Bob':34}
a.popitem() #popitem은 tuple이 리턴된다 -> 삭제

('Bob', 34)

In [168]:
a

{'Alice': 20, 'Carol': 30}

In [169]:
a.popitem()

('Carol', 30)

In [170]:
a

{'Alice': 20}

In [171]:
print(a)

{'Alice': 20}

In [172]:
del(a['Alice'])

In [173]:
print(a)

{}

In [ ]:
# pop -> 리턴되는 값이 있다. dictionary.pop()-> value값 리턴, dictionary.popitem() -> tuple형태로 리턴
# del -> 리턴되는 값이 없다.