In [1]:
#문제 1

In [2]:
1-1
data = ['허예림','park','kim',1,2,3,4,5]
print(data)

['허예림', 'park', 'kim', 1, 2, 3, 4, 5]

In [3]:
1-2
print(data.index('허예림'))

0

In [4]:
1-3
data.append('tony')
print(data)

['허예림', 'park', 'kim', 1, 2, 3, 4, 5, 'tony']

In [5]:
1-4
name = 'tony'
print(name.capitalize())

Tony

In [6]:
1-5
print(name.upper())

TONY

In [7]:
1-6
print(name.lower())

tony

In [8]:
#문제 2

In [9]:
num = int(input("학번을 입력하세요 : "))

def isEven():
    if(num % 2 == 0):
        print("짝수입니다.")
    else:
        print("홀수입니다.")
isEven()

학번을 입력하세요 : 20182667
홀수입니다.

In [10]:
#문제 3

In [11]:
3-1
a = [3,5,1,2,4]
b = (3,5,1,2,4)
a.sort()
print(a)

[1, 2, 3, 4, 5]

In [13]:
3-2
print(type(b))
b = sorted(b)
print(type(b))
print(b)
print("tuple은 immutable하기 때문에 오류가 발생한다")

<class 'list'>
<class 'list'>
[1, 2, 3, 4, 5]
tuple은 immutable하기 때문에 오류가 발생한다